
  <ul>
    <li><a href="/add_menu">add menu</a></li>
    <li><a href="/edit_menu">edit menu</a></li>
    <li><a href="/view_menu">view menu </a></li>
    <li><a href="/delete_menu">delete menu</a></li>
  </ul>

