
  <form action="add_save">
    <p>Enter photo info</p>
    <input type="text" placeholder= "Title" name="title">
    <input type="text" placeholder= "Lighting" name="lighting" >
    <input type="text" placeholder= "Location" name="location" >  
    <input type="number" placeholder= "photographer_id" name="photographer_id" >  
    
    <input type="submit">
  </form>

