
  <ul>
    <li><a href="/add_photographer">add photographer</a></li>
    <li><a href="/add_photo">add photo</a></li>
    <li><a href="/add_album">add album</a></li>
    <li><a href="/add_photo_to_album">add a photo to an album</a></li>
    
  </ul>

