
  <ul>
    <li><a href="/delete_photographer_list/:x">delete photographer</a></li>
    <li><a href="/delete_photo_list/:x">delete photo</a></li>
    <li><a href="/delete_album_list/:x">delete album</a></li>
  </ul>

