
 <ul>The photographers are
   <% Photographer.all.each do |pgrapher| %>
   <li> ID <%= pgrapher.id %> – <%= pgrapher.name %></li> 
   <% end %>
 </ul>
<form action="delete_photographer">
  <input type="text" name="id" >
<input type="submit">
</form>

  

